html{
    /* set font-size (1rem) to 10px to make it easier to calculate font sizes */
    font-size: 62.5%;
}

body {
    font-family:'Times New Roman', Times, serif;
    position:relative;
    margin:auto;
    text-align:center;
    font-size: 1.75rem;
}

/* class added to hide a header for text readers to read. Code copied from MDN. */
.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

header {
    position:relative;
    width:100%;
    top: 0;
    z-index: 2;
    border: 5px solid darkblue;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    display:block;
    text-align: right;
}

.nav {
    text-align: right;
}
.nav li{
    display: inline;
    text-align: right;
}

.leftAlign {
    text-align: left;
}

.selfImage{
    text-align: center;
    top:auto;
}


/* This makes the Portfolio section into a flexbox, and puts the applications in a row */
#portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

/* firstWork class is used for aligning the first work and making the image bigger than the other application cards */
.firstWork{
    text-align: center;
}
/* this will resize the image to properly fit */
.firstWork img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* portCard class is used for aligning each individual work */
.portCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
}

/* this img class will resize the portfolio application cards to be smaller than the first work, and make them of a standard size */
.portCard img {
    object-fit: cover;
    width:200px;
    height:300px;
}

#contact li{
    display: inline;
    text-align: center;
    text-decoration: underline;
    font-size: large;
}
